<div class="row">
  <app-card cardTitle="{{'Administrative Divisions'|translate}}" [options]="false">
    <button type="button" class="btn btn-primary" (click)="addGovernorate()" 
    *ngIf="(role === 'Admin' || (role === 'User' && permissions.addGovernorate === 1))">
      <i class="feather icon-thumbs-up"></i>{{ 'Add' | translate }}
    </button>
    <!-- <button type="button" class="btn btn-primary" (click)="exportGovernorate()">
      <i class="feather icon-thumbs-up"></i>{{ 'Export' | translate }}
    </button> -->
    <hr>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
        <button mat-icon-button color="warn" (click)="onDelete(node)"
        *ngIf="(role === 'Admin' || (role === 'User' && permissions.deleteGovernorate === 1))">
          <i class="feather icon-x"></i>
        </button>
        <button mat-icon-button color="primary" (click)="onPreview(node)">
          <i class="feather icon-eye"></i>
        </button>
      </mat-tree-node>
      
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
        <button mat-icon-button color="warn" (click)="onDelete(node)"
        *ngIf="(role === 'Admin' || (role === 'User' && permissions.deleteGovernorate === 1))">
          <i class="feather icon-x"></i>
        </button>
        <!-- Add preview button -->
        <button mat-icon-button color="primary" *ngIf="node.level === 0" (click)="onPreview(node)">
          <i class="feather icon-eye"></i>
        </button>
      </mat-tree-node>
    </mat-tree>
  </app-card>
</div>
