<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h3 class="mb-4">{{ "Login" | translate }}</h3>
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="{{ 'Email' | translate }}"
              formControlName="email"
            />
          </div>
          <div
            *ngIf="
              login.get('email').hasError('required') &&
              login.get('email').touched
            "
            class="text-danger alignment-sign"
          >
            {{ "Email is required" | translate }}
          </div>
          <div class="input-group mb-4">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="{{ 'Password' | translate }}"
              formControlName="password"
            />
              <span class="input-group-text" (click)="togglePasswordVisibility()">
                <!-- Icon for show/hide password -->
                <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
              </span>
          </div>
          
          <div
            *ngIf="
              login.get('password').hasError('required') &&
              login.get('password').touched
            "
            class="text-danger alignment-sign"
          >
            {{ "Password is required" | translate }}
          </div>
          <!-- <div class="form-group text-start mb-4">
            <div class="checkbox checkbox-fill d-inline">
              <input
                type="checkbox"
                name="checkbox-fill-1"
                id="checkbox-fill-a1"
                checked=""
              />
              <label for="checkbox-fill-a1" class="cr"> Save Details</label>
            </div>
          </div> -->
          <button class="btn btn-primary mb-4" [disabled]="login.invalid">
            {{ "Login" | translate }}
          </button>
        </form>
        <!-- <p class="mb-2 text-muted">
          Forgot password?
          <a [routerLink]="['/auth/reset-password']">Reset</a>
        </p>
        <p class="mb-0 text-muted">
          Don’t have an account?
          <a [routerLink]="['/auth/signup']">Sign up</a>
        </p> -->
      </div>
    </div>
  </div>
</div>
