::ng-deep.cdk-global-overlay-wrapper{
    justify-content: center!important;
    align-items: center!important;
}


::ng-deep.mat-mdc-dialog-actions{
    justify-content: center;
}

.color-blue{
    color: white!important;
    background-color: #04a9f5!important;
}

.color-red{
    color: white!important;
    background-color: red!important;
}