<div class="">
  <a [routerLink]="['/dashboard/default/']" class="b-brand">
    <img
      class="b-title position-title"
      src="../../../../../../assets/images/Minister_Title.png"
    />
    <img
      class="b-bg feather icon-trending-up visual"
      src="../../../../../../assets/images/Minister_symbol.png"
    />

    <!-- <div class="b-bg">
      <img  class="feather icon-trending-up visual" src="../../../../../../assets/images/Minister_symbol.png">
    </div>   -->
  </a>
  <a
    href="javascript:"
    class="mobile-menu"
    [ngClass]="{ on: navCollapsed }"
    id="mobile-collapse"
    (click)="navCollapse()"
    ><span></span
  ></a>
</div>
