<div class="container">
    <h1>User Permissions</h1>
    <div>
      <p>User Name: {{ user?.name }}</p>
      <p>User Role: {{ user?.role }}</p>
    </div>
    <br>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Permission</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Status Check</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.statusCheck"></td>
          </tr>
          <tr>
            <td>Sortable</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.sortable"></td>
          </tr>
          <tr>
            <td>Add Applicants</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.addApplicants"></td>
          </tr>
          <tr>
            <td>Add Certificate</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.addCertificate"></td>
          </tr>
          <tr>
            <td>Add Job Description</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.addJobDescription"></td>
          </tr>
          <tr>
            <td>Add Governorate</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.addGovernorate"></td>
          </tr>
          <tr>
            <td>Add Public</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.addPublic"></td>
          </tr>
          <tr>
            <td>Edit Applicants</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.editApplicants"></td>
          </tr>
          <tr>
            <td>Edit Certificate</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.editCertificate"></td>
          </tr>
          <tr>
            <td>Edit Job Description</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.editJobDescription"></td>
          </tr>
          <tr>
            <td>Edit Governorate</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.editGovernorate"></td>
          </tr>
          <tr>
            <td>Edit Public</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.editPublic"></td>
          </tr>
          <tr>
            <td>Delete Applicants</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.deleteApplicants"></td>
          </tr>
          <tr>
            <td>Delete Certificate</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.deleteCertificate"></td>
          </tr>
          <tr>
            <td>Delete Job Description</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.deleteJobDescription"></td>
          </tr>
          <tr>
            <td>Delete Governorate</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.deleteGovernorate"></td>
          </tr>
          <tr>
            <td>Delete Public</td>
            <td><input type="checkbox" [(ngModel)]="user.permissions.deletePublic"></td>
          </tr>
          <!-- Add more permission rows as needed -->
        </tbody>
      </table>
    </div>
    <br>
    <button class="btn btn-primary" (click)="updatePermissions()">Update Permissions</button>
  </div>
